<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>선택된 재료</title>
    <link rel="stylesheet" href="/static/delivery.css">
    <script>
        function showDeliveryLocation() {
            var deliveryLocation = document.getElementById("delivery-location");
            deliveryLocation.style.display = "block";
        }
    </script>
</head>
<body>
    <div class="container">
        <button onclick="showDeliveryLocation()">조회하기</button>
        <div class="delivery-location" id="delivery-location" style="display: none;">
            <a href="{{ url_for('price') }}">
                <div>배달 위치 : {{ city }} {{ county }} {{ detail_address }}</div>
            </a>
        </div>
    </div>
</body>
</html>
